*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 80px;
}
.container-fluid{
    background-color: transparent;
    display: flex;
}

.logosigara{
    height: 50px;
}

.navbar {
    height: 70px; 
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav .nav-item {
    margin-left: 15px;
}

.carousel {
    margin-top: -70px;
}

#history {
    margin-top: 40px;
}

.tekssigara{
    font-size: 45px;
}

.card {
    margin: 15px;
}

#slogan {
    font-style: italic;
    font-size: 20px;
}

.row{
    justify-content: center;
    margin-top: 5px;
}

.container{
    margin-top: 600px;
}

.card2 {
    margin-top: 18px;
}

.card3{
    margin-top: 2px;
}

.masukan{
    padding: 20px 5%;
}

.footer {
    background-color: #ffcd70b4;
    display: flex;
    justify-content: space-between;
    padding: 8px 5%;
}

.footer center img {
    width: 90px;
}

.footer div p {
    font-size: 20px;
}

@media screen and (max-width:800px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }

    .footer div {
        padding-top: 10px;
        text-align: center;
    }
}